<div class="container">

 <br/>
<% session.each do | name, msg | %>
      <ul>
        
        <li><%= name %> - <%= msg %> </li>
        
        
      </ul>
      <% end %>
  <footer class="footer">
    <small>
        <p>request domain: <%= request.domain %> </p>
        <p>request host: <%= request.host %> </p>
        <p>request subdomain: <%= request.subdomain %> </p>
        <p>current tenant: <%= Apartment::Tenant.current %> </p>
    
    </small>
   

  </footer>
</div>